@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Serve para que qualquer elemento venha com espaçamentos e margens padrão do navegador*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

#wrap {
    width: 100%;
}

/*
  =================================================
  | Bloco para estilizar o conteúdo na ┼ header ┼ |
  =================================================
*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

.logotipo img {
    width: 120px;
}

.barra-pesquisa {
    width: 70%;
}

.pesquisa {
    display: flex;
}

.pesquisa input {
    width: 100%;
    padding: 10px;
    border-radius: 15px 5px 15px 5px;
}

.pesquisa button {
    border-radius: 5px 15px 5px 15px;
    padding: 10px 15px;
}

/*
  =================================================
  | Bloco para estilizar o conteúdo de Navegação  |
  =================================================
*/
.menu-principal {
    padding: 15px 20px;
    background-color: #222;
}

.menu-principal ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-principal li {
    display: flex;
    align-items: center;
    gap: 8px;
    border: dotted 1px;
    /*Somente para eu saber onde começa e termina*/
}

.menu-principal a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
.menu-principal a:hover {
    color: #aaa;
}

/*
  =================================================
  | Bloco para estilizar o conteúdo Principal     |
  =================================================
*/
.produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*Coloque 3 colunas em 1 fração dos espaços(iguais) OBS.: o html ajusta a quebra de linha para baixo caso tenha mais de 1 produto*/
    gap: 20px;
    padding: 20px;
}
/*
  ================================
  | Bloco para estilizar os Card |
  ================================
*/
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s box-shadow 0.3s;
}
.card:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.card img {
    width: 100%;
    display: block;
}
.card-info {
    padding: 15px;
}
.card-info h2 {
    font-size: 20px;
    margin-bottom: 8px;
}
.descricao {
    font-size: 14px;
    color: #666;
    margin-bottom: 12px;
}
.preco {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
.btn-comprar {
    width: 100%;
    padding: clamp(8px, 1.5vw, 14px);
    font-size: clamp(12px, 2vw, 18px);/*nunca menor que 12px | cresce conforme a tela | nunca maior que 18px*/
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: none;
    border-radius: 0 10px 0 10px;
    
    background-color: #222;
    color: white;
    cursor: pointer;

    transition: background-color 0.3s;
}

/*
  =================================================
  | Bloco para estilizar os Cards, com hover      |
  =================================================
*/
.btn-comprar:hover {
    background-color: #444;
}
